/*
 * general
 */
:root {
  font-size: 16px;
  font-family: "FZLanTingHei", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
}


/*
 *  navbar
 */
.navbar {
  background-color: #3273dc;
  color: #FFF;
}

.logo {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
}

.logo a {
  color: #FFF;
}

.logo a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.site-title {
  text-align: center;
}

/*
 * breadcrumb
 */

.breadcrumb {
  background-color: #FFF;
  color: #7f8c8d;
}

/*
 * content
 */

.content {
  background-color: #FFF;
  color: #333;
  padding-left: 1rem;
}

.index {
  background-color: rgb(245, 245, 245);
}

/*
 * foot
 */

.foot {
  background-color: #FFF;
  color: black;
  border-top: 1px solid #bdc3c7;
}

.build-by {
  margin-left: 1rem;
}

