/*
 * general
 */
:root {
  font-size: 16px;
  font-family: "FZLanTingHei", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
}

code {
  font-size: 1.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/*
 *  navbar
 */
.navbar {
  background-color: #3273dc;
  color: #FFF;
}

.logo {
  margin-top: 0.3rem;
  margin-left: 1rem;
}

.logo a {
  color: #FFF;
}

.logo a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.site-title {
  text-align: center;
}

/*
 * show_navigation
 */
.show-navigation .button {
  margin: 1rem;
}

/*
 * Chapters
 */

.book-toc {
  transition: all 1s;
}

.chapters {
  margin-top: 1rem;
}


/*
 * content
 */

.content {
  background-color: #FFF;
  color: #333;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.6;
}

.book-toc ul {
  margin-top: 0;
  margin-left: 1rem;
}

/*
 * article-toc
 */

.article-toc {
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  display: table;
  padding: 1rem;
}

/*
 * foot
 */

.foot {
  background-color: #FFF;
  color: black;
  border-top: 1px solid #bdc3c7;
}

.build-by {
  margin-left: 1rem;
}

/*
 * highlight
 */

.hljs {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: auto;
}

.hljs code {
  background: #23241f;
  color: #f8f8f2;
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

