<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title><%= site %></title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.min.css">
<link rel="stylesheet" href="<%= relative_root_path %>assets/css/app.css">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="">
</head>
<body>

<nav class="columns navbar">
  <div class="column logo is-3 is-offset-1">
    <a class="is-brand" href="#">
      <%= site %>
    </a>
  </div>
</nav>

<div class="columns breadcrumb">
  <div class="column is-half is-offset-1">
    <% breadcrumb = breadcrumb.map(function (item) { %>
      <% var path = Object.keys(item)[0]; %>
      <% if (path.substr(-3) === 'path.md')  path = path.substr(0, path.length - 3) + '.html' %>
      <% return '<a href="' + path + '" target="_blank">' + item[Object.keys(item)[0]] + '</a>'; %>
    <% }) %>
    <%= breadcrumbArr.join(' > ') %>
  </div>
</div>

<div class="columns content">
  <div class="column chapters is-2 is-offset-1">
    <ul>
    <% chapters = chapters.map(function (item) { %>
      <% var path = Object.keys(item)[0]; %>
      <% if (path.substr(-3) === 'path.md')  path = path.substr(0, path.length - 3) + '.html' %>
      <% return '<li><a href="' + path + '" target="_blank">' + item[Object.keys(item)[0]] + '</a></li>'; %>
    <% }) %>
    <%= chapters.join('') %>
    </ul>
  </div>
  <div class="column is-7">
    <%= content %>
  </div>
  <div class="column is-2">
    <%= toc %>
  </div>
</div>

<div class="columns foot">
  <div class="column is-2 is-offset-10">
    Build by <strong>Loppo</strong>
  </div>
</div>

<!-- SCRIPTS -->
<!-- Example: <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
</body>
</html>
